footer {
	background: @footer-background;
	padding-top: @footer-padding-top;
	padding-right: @footer-padding-right;
	padding-bottom: @footer-padding-bottom;
	padding-left: @footer-padding-left;
	position: @footer-position;
	bottom: @footer-bottom;
	left: @footer-left;
	right: @footer-right;
	p {
		font-size: @footer-text-font-size;
		text-align: @footer-text-text-align;
	}
}