/* Settings */ 
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img,
dl, dt, dd, ol, ul, li,
fieldset, form, label, input, button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	font-weight:normal;
	text-decoration:none !important;
}

ol, ul {
	list-style:none;
}

/* Common functions */
@import "common.less";

html, body {
	width: 100%;
	height: 100% !important;
	min-height: 100%;
}
body {
	background: @body-background;
	position: relative; /* Required for static Slidebars to function properly. */
}
// End of Settings

article {
	padding-top: 82px;
	.grid {
		width: 100%;
	}
}
