section.videosfootballgomovil {
	margin: 0 0 20px 0;
	ul {
		li {
			width: 80%;
			.video-content {
				border-radius: 10px;
				video {
					border-radius: 10px;
					source {
						border-radius: 10px;
					}
				}
			}
		}
	}
}