section.videosfootballgomovil {
	margin: 0 0 20px 0;
	ul {
		li {
			width: 80%;
			background: #ffffff;
			-webkit-box-shadow: 0px 0px 10px -3px #d4d4d4cc;
			-moz-box-shadow: 0px 0px 10px -3px #d4d4d4cc;
			box-shadow: 0px 0px 10px -3px #d4d4d4cc;
			padding: 0;
			.video-content {
				border-radius: 10px 10px 0 0;
				video {
					border-radius: 10px 10px 0 0;
					source {
						border-radius: 10px 10px 0 0;
					}
				}
			}
			.video-description {
				color: #555;
				font-family: 'Nunito', sans-serif;
				font-size: 14pt;
				font-weight: 800;
			}
		}
	}
}