<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" itemscope itemtype="http://schema.org/WebPage" xml:lang="es" lang="es">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="index, follow" />
		<meta name="msvalidate.01" content="53EEDD3432E53DB093318AF4A7E1C7A0" />
		<meta name="google-site-verification" content="" />
		<title>Deportes</title>
{% block metaTags %} {% endblock %}
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		
		<!--<link href="/assets/jplayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="extensions/videosList/assets/css/skin.bitel.jplayer.css">-->

		{% block assetsCss %} {% endblock %}

		<link rel="stylesheet" href="css/styles.css">

		<script src="/assets/jquery/jquery.min.js"></script>
		<!--<script src="/assets/jquery/jquery.slim.min.js" crossorigin="anonymous"></script>-->
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
		
	</head>

	<body>
		{% include 'header.inc.php' %}
		<!-- Main -->
		<article>
			<div class="container-fluid">
				<div class="row">
					
				</div>
			</div>
		</article>
	</body>
</html>