{% extends "index.html" %}

{% block assetsCss %}
	{% for asset in assetsStyle %}
		{{asset | raw}}
	{% endfor %}
{% endblock %}

{% block assetsJs %}
	{% for asset in assetsJs %}
		{{asset | raw}}
	{% endfor %}
{% endblock %}

{% block metaTags %}
	{% if widgetMetaTags.display %}
		{{widgetMetaTags.content | raw}}
	{% endif %}
{% endblock %}

{% block featuredNews %}
	{% if widgetNewsFeatured.display %}
		{{widgetNewsFeatured.content | raw}}
	{% endif %}
{% endblock %}

{% block listNews %}
	{% if widgetNewsList.display %}
		{{widgetNewsList.content | raw}}
	{% endif %}
{% endblock %}

{% block matchesNext %}
	{% if widgetMatchesNext.display %}
		{{widgetMatchesNext.content | raw}}
	{% endif %}
{% endblock %}

{% block matchesFeatured %}
	{% if widgetMatchesFeatured.display %}
		{{widgetMatchesFeatured.content | raw}}
	{% endif %}
{% endblock %}

{% block listVideos %}
	{% if widgetVideosList.display %}
		{{widgetVideosList.content | raw}}
	{% endif %}
{% endblock %}

{% block socialPosts %}
	{% if widgetSocialPosts.display %}
		{{widgetSocialPosts.content | raw}}
	{% endif %}
{% endblock %}

{% block socialGifs %}
	{% if widgetSocialGifs.display %}
		{{widgetSocialGifs.content | raw}}
	{% endif %}
{% endblock %}