{% extends 'template' ~ template ~ '.tpl.html' %}

{% block htmlStart %}
<!doctype html>
<html ⚡ itemscope itemtype="http://schema.org/WebPage" lang="es">
	<head>
		<link rel="canonical" href="{{ urlCanonical }}">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<meta name="robots" content="index, follow" />
		<meta name="msvalidate.01" content="53EEDD3432E53DB093318AF4A7E1C7A0" />
		<meta name="google-site-verification" content="" />
		<title>{{ title | raw }}</title>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900">
		<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
		<style amp-custom>
			{{ assetsStyle }}
		</style>
		<script async src="https://cdn.ampproject.org/v0.js"></script>
		<!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/slidebars/slidebars.min.css?v=20190701">
		<link rel="stylesheet" href="/assets/swiper/css/swiper.min.css?v=20190701"> -->
		<!-- <link href="/assets/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" /> -->
		<script src="/assets/jquery/jquery.min.js"></script>
		<script src="/assets/masonry/imageresize/masonry.imageresize.min.js"></script>
	</head>
	<body>
		<div id="sb-site">
			{% include 'header.inc.php' with {'logo': logo, 'menu': menu, 'country': country} %}
			<article>
				<div class="container-fluid">
{% endblock %}

{% block widget1 %}
	{{ widgets.widget1.content | raw }}
{% endblock %}
{% block widget2 %}
	{{ widgets.widget2.content | raw }}
{% endblock %}
{% block widget3 %}
	{{ widgets.widget3.content | raw }}
{% endblock %}
{% block widget4 %}
	{{ widgets.widget4.content | raw }}
{% endblock %}
{% block widget5 %}
	{{ widgets.widget5.content | raw }}
{% endblock %}
{% block widget6 %}
	{{ widgets.widget6.content | raw }}
{% endblock %}
{% block widget7 %}
	{{ widgets.widget7.content | raw }}
{% endblock %}
{% block widget8 %}
	{{ widgets.widget8.content | raw }}
{% endblock %}
{% block widget9 %}
	{{ widgets.widget9.content | raw }}
{% endblock %}
{% block widget10 %}
	{{ widgets.widget10.content | raw }}
{% endblock %}

{% block htmlEnd %}
				</div>
			</article>
			<!-- Footer -->
			<!-- <footer>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<p>C.Bitel. Todos los derechos reservados © 2018</p>
						</div>
					</div>
				</div>
			</footer> -->
			<!-- Eof Footer -->
		</div>
		<div class="sb-slidebar sb-right">
			{% include 'menu.inc.php' with {'logo': logo, 'menu': menu, 'country': country} %}
		</div>
		<script src="/assets/masonry/masonry.pkgd.min.js"></script>		
		<!-- <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->
		<script type="text/javascript">
			$(document).ready(function () {
				$.slidebars();
			});
			$(document).on('hide','.modal', function () {
				$("#sb-site").css('z-index','1');   
			});
			$(document).on('show','.modal', function () {
				$("#sb-site").removeAttr( 'style' );
				$("#sb-site").css('z-index','initial');
			});
		</script>
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="/assets/slidebars/slidebars.min.js?v=20190701"></script>
		<script type="text/javascript" src="/assets/swiper/js/swiper.min.js?v=20190701"></script>
		<!-- <script type="text/javascript" src="/assets/bootstrap-modal/js/bootstrap-modal.js"></script>
		<script type="text/javascript" src="/assets/bootstrap-modal/js/bootstrap-modalmanager.js"></script> -->
		{% for asset in assetsJs %}
			{{asset | raw}}
		{% endfor %}
		<script type="text/javascript">
			$('.grid').masonry({
				 // use a separate class for itemSelector, other than .col-
				itemSelector: '.grid-item',
				columnWidth: '.grid-sizer',
				percentPosition: true
			});
		</script>
	</body>
</html>
{% endblock %}