{% block htmlStart %} {% endblock %}
		<section class="age-control">
			<div class="content">
				<div class="table">
					<div class="image-age-control">
						<img src="/images/header/modal/imge-age-control.svg" name="agecontrol" title="" alt="">
					</div>
					<p>Para acceder a esta sección, tiene que ser mayor de 18 años.</p>
					<form action="/" method="post">
						<input type="hidden" name="url" value="{{ url }}">
						<input type="hidden" name="ageControl" value="1">
						<a href="/" class="btn-close-age-control">Volver</a>
						<button type="submit" name="submit" class="btn-age-control">Soy mayor de 18 años</button>
					</form>
				</div>
			</div>
		</section>
{% block htmlEnd %} {% endblock %}
<script>
	var heightArticle = $(window).height();
	var heightHeader = $('header').height();
	$('section.age-control').css({'height': heightArticle - heightHeader - 20});
</script>