{% block htmlStart %} {% endblock %}
			<div class="row first-row">
				<div class="col-12">
					{% block widget1 %} {% endblock %}
				</div>
			</div>
			<div class="row second-row">
				<div class="col-12">
					{% block widget2 %} {% endblock %}
				</div>
			</div>
			<div class="row third-row">
				<div class="col-12">
					{% block widget3 %} {% endblock %}
				</div>
			</div>
			<div class="row four-row">
				<div class="col-12">
					{% block widget4 %} {% endblock %}
				</div>
			</div>
			<div class="row five-row">
				<div class="col-12">
					{% block widget5 %} {% endblock %}
				</div>
			</div>
{% block htmlEnd %} {% endblock %}