{% block htmlStart %} {% endblock %}
			<div class="row">
				<div class="col-12 order-1">
					{% block widget1 %} {% endblock %}
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 order-last order-sm-2">
					<div class="row">
						<div class="col-12">{% block widget3 %} {% endblock %}</div>
					</div>
					<div class="row">
						<div class="col-12">{% block widget4 %} {% endblock %}</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 order-2">
					<div class="row">
						<div class="col-12">
							{% block widget2 %} {% endblock %}
						</div>
					</div>
				</div>
			</div>
{% block htmlEnd %} {% endblock %}