{% block htmlStart %} {% endblock %}
				<div class="row">
					<div class="grid">
						<div class="grid-item col-lg-4 col-md-4 col-sm-12 col-xs-12 order-xs-2">
							{% block widget2 %} {% endblock %}
						</div>
						<div class="grid-item col-lg-8 col-md-8 col-sm-12 col-xs-12 order-xs-1">
							{% block widget1 %} {% endblock %}
						</div>
						<div class="grid-item col-lg-8 col-md-8 col-sm-12 col-xs-12 order-xs-3">
							{% block widget3 %} {% endblock %}
						</div>
						<div class="grid-item col-lg-8 col-md-8 col-sm-12 col-xs-12 order-xs-4">
							{% block widget4 %} {% endblock %}
						</div>
						<div class="grid-item col-lg-8 col-md-8 col-sm-12 col-xs-12 order-5">
							{% block widget5 %} {% endblock %}
						</div>
						<div class="grid-item col-lg-4 col-md-4 col-sm-12 col-xs-12 order-6">
							<div class="row">
								{% block widget6 %} {% endblock %}
							</div>
						</div>
					</div>
				</div>
{% block htmlEnd %} {% endblock %}