{% block htmlStart %} {% endblock %}
		<section class="age-control">
			<div class="content">
				<div class="table">
					<div class="image-age-control">
						<img src="/images/header/modal/imge-age-control.svg" name="agecontrol" title="" alt="">
					</div>
					<p>Para acceder a esta sección, tiene que ser mayor de 18 años.</p>
				</div>
				<div class="">
					<form action="/" method="post">
						<input type="hidden" name="url" value="{{ url }}">
						<input type="hidden" name="ageControl" value="1">
						<button type="button" class="btn-close-age-control" data-dismiss="modal" aria-hidden="true">Volver</button>
						<button type="submit" name="submit" class="btn-age-control">Soy mayor de 18 años</button>
					</form>
				</div>
			</div>
		</section>
{% block htmlEnd %} {% endblock %}

<style>
section.age-control {
	display: table;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}
section.age-control .content {
	display: table-cell;
	text-align: center;
}
</style>