/* Global Imports */
@import '../../../../less/config.less';
@import '../../../../less/common.less';

@leagues-list-title-color: @color-quarter;
@leagues-list-title-font-family: @h2-font-family;
@leagues-list-title-font-size: 16pt;
@leagues-list-title-font-weight: @h2-font-weight;
@leagues-list-title-padding: 0 0 15px 0;

@leagues-list-content-background: white;
@leagues-list-content-border-radius: 5px;
@leagues-list-content-height: 60px;
@leagues-list-content-padding-vertical: 8px;
@leagues-list-content-padding-horizontal: 10px;

@leagues-list-content-image-width: 40px;
@leagues-list-content-image-left: @leagues-list-content-padding-horizontal;
@leagues-list-content-name-margin-left: @leagues-list-content-image-width + 10;
@leagues-list-content-name-padding-top: 8px;
@leagues-list-content-name-color: @color-quarter;

section.leagues-list {
	margin: 0 0 15px 0;
	position: relative;
	h2 {
		color: @leagues-list-title-color;
		font-family: @leagues-list-title-font-family;
		font-size: @leagues-list-title-font-size;
		font-weight: @leagues-list-title-font-weight;
		padding: @leagues-list-title-padding;
	}
	.list-leagues-slider {
		width: 100%;
		height: 100%;
		li.swiper-slide {
			width: auto;
		}
	}
	.swiper-pagination {
		bottom: 0;
	}
	.swiper-pagination-bullet-active {
		background: @color-second;
	}
	
	a.content-league {
		background: @leagues-list-content-background;
		.border-radius(@leagues-list-content-border-radius);
		display: inline-flex;
		height: @leagues-list-content-height;
		padding: @leagues-list-content-padding-vertical @leagues-list-content-padding-horizontal;
		margin-right: 15px;
		margin-bottom: 10px;
		position: relative;
		.league-image {
			position: absolute;
			left: @leagues-list-content-image-left;
			width: @leagues-list-content-image-width;
			img {
				width: 100%;
			}
		}
		.league-name {
			color: @leagues-list-content-name-color;
			font-size: 11pt;
			margin-left: 50px;
			padding-top: 8px;
		}
	}

	.list-leagues {
		li {
			width: 100%;
			a {
				display: block;
				height: 40px;
				width: 100%;
				padding: 0;
				.league-image {
					left: 5px;
					padding-top: 5px;
					padding-bottom: 5px;
					width: 20px;
				}
				.league-name {
					color: @leagues-list-content-name-color;
					display: table-cell;
					font-size: 9pt;
					height: 40px;
					padding-left: 30px;
					padding-right: 5px;
					padding-top: 0px;
					vertical-align: middle;
				}
			}
		}
	}
	
}