section.leagueslist {
	margin: 0 0 15px 0;
	position: relative;
	h2 {
		color: #555;
		font-family: 'Nunito', sans-serif;
		font-size: 16pt;
		font-weight: 800;
		padding: 0 0 15px 0;
	}
	.list-leagues-slider {
		width: 100%;
		height: 100%;
		li.swiper-slide {
			width: auto;
		}
	}
	.swiper-pagination {
		bottom: 0;
	}
	.content-league {
		background: white;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		display: inline-flex;
		height: 60px;
		padding: 8px 10px;
		margin-right: 15px;
		margin-bottom: 10px;
		position: relative;
		.league-image {
			position: absolute;
			left: 10px;
			width: 40px;
			img {
				width: 100%;
			}
		}
		.league-name {
			color: #555;
			font-size: 11pt;
			margin-left: 50px;
			padding-top: 8px;
		}
	}
	.list-leagues li {
		width: 100%;
		a {
			display: block;
			height: 40px;
			width: 100%;
			padding: 0;
			.league-image {
				left: 5px;
				padding-top: 5px;
				padding-bottom: 5px;
				width: 20px;
			}
			.league-name {
				color: #555;
				display: table-cell;
				font-size: 9pt;
				height: 40px;
				padding-left: 30px;
				padding-right: 5px;
				padding-top: 0px;
				vertical-align: middle;
			}
		}
	}

	.list-leagues.horizontal {
		display: flex;
		height: 135px;
		overflow-x: auto;
		overflow-y: hidden;
		list-style-type: none;
		margin-top: -8px;
		margin-bottom: 30px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.list-leagues-slider,
	.list-leagues.horizontal {
		li {
			height: 135px;
			margin-bottom: 30px;
			margin-left: 3px;
			margin-right: 30px;
			margin-top: 10px;
			max-width: 120px;
			a {
				display: block;
				width: 120px;
				height: 130px;
				.card {
					display: table;
					width: 120px;
					height: 100px;
					box-shadow: 0 0 15px 2px rgba(0,0,0,0.09);
					background-color: #fff;
					text-align: center;
					padding: 5px;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
					margin-bottom: 10px;
					border: 0;
					.card-img {
						display: table-cell;
						vertical-align: middle;
						width: auto;
						img {
							width: auto;
							height: 50px;
							margin: 0 auto;
							transition: transform 1s;
						}
					}
				}
				h5 {
					text-align: center;
					font-size: 9pt;
					color: #666;
				}
			}
		}
	}
}