/* Global Imports */
@import '../../../../less/config.less';
@import '../../../../less/common.less';

/*! Bitel Deportes Skin for jPlayer */
/*
* Skin for jPlayer Plugin (jQuery JavaScript Library)
* http://www.jplayer.org
*
* Skin Name: Bitel Deportes
*
*/
@list-color: @color-first;
@list-color-active: @color-first;
@list-color-hover: @color-first;
@list-color-active-hover: @color-first;
@list-border-active: @color-first;

@font_family_1: Verdana, Arial, sans-serif;

@background-color: @color-second;
@background-color-hover: @color-third;
@background_list-active: @color-third;
@background_list-active-hover: @color-third;

@player-current-time-color: @color-first;
@player-current-time-font-size: 8pt;
@player-duration-time-color: @player-current-time-color;
@player-duration-time-font-size: @player-current-time-font-size;
@player-time-divider: #ffffff4d;

@video-play-stop-background: rgba(0, 0, 0, 0.5);

.videos-container {
	position: relative;
}
.jp-container {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	
	.playlist-content {
		margin: 0;
		padding: 0;
	}
	.player-content {
		margin: 0;
		padding: 0;
	}
}
.jp-audio {
	* {
		&:focus {
			outline: none;
		}
	}
	button {
		&::-moz-focus-inner {
			border: 0;
		}
	}
	font-size: 16px;
	line-height: 1.6;
	width: 420px;
	.jp-interface {
		height: 80px;
	}
	.jp-controls {
		width: 380px;
		padding: 20px 20px 0 20px;
	}
	.jp-progress {
		position: absolute;
		top: 32px;
		height: 15px;
	}
	.jp-type-single {
		.jp-progress {
			left: 110px;
			width: 186px;
		}
		.jp-time-holder {
			left: 110px;
			width: 186px;
		}
		.jp-toggles {
			width: 25px;
		}
	}
	.jp-type-playlist {
		.jp-progress {
			left: 166px;
			width: 130px;
		}
		.jp-time-holder {
			left: 166px;
			width: 130px;
		}
		.jp-toggles {
			width: 55px;
			margin: 0;
			position: absolute;
			left: 325px;
			top: 50px;
		}
	}
	.jp-time-holder {
		position: absolute;
		top: 50px;
	}
}
.jp-audio-stream {
	* {
		&:focus {
			outline: none;
		}
	}
	button {
		&::-moz-focus-inner {
			border: 0;
		}
	}
	font-size: 16px;
	line-height: 1.6;
	width: 182px;
	.jp-interface {
		height: 80px;
	}
	.jp-controls {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 142px;
	}
	.jp-volume-controls {
		left: 70px;
	}
}
.jp-video {
	* {
		&:focus {
			outline: none;
		}
	}
	button {
		&::-moz-focus-inner {
			border: 0;
		}
	}
	font-size: 16px;
	line-height: 1.6;
	.jp-interface {
		.border-radius(0 0 10px 0);
	}
	// .jp-type-single {
	// 	position: relative;
	// 	width: 100%;
	// 	padding: 0 5px;
	// 	.jp-controls {
	// 		margin: 0;
	// 		padding: 0;
	// 		overflow: hidden;
	// 	}
	// }
	.jp-controls {
		float: left;
	}
	.jp-current-time {
		color: @player-current-time-color;
		float: left;
		font-size: @player-current-time-font-size;
		width: 38px;
	}
	.jp-duration {
		color: @player-duration-time-color;
		float: left;
		font-size: @player-duration-time-font-size;
		width: 38px;
	}
	.jp-toggles {
		float: right;
		margin: 0;
		width: 100px;
	}
}
.jp-video-270p {
	// width: 480px;
	.jp-video-play {
		// margin-top: -270px;
		height: 270px;
	}
}
.jp-video-360p {
	// width: 640px;
	.jp-video-play {
		// margin-top: -360px;
		height: 360px;
	}
}
.jp-video-full {
	width: 100%;
	position: relative;
	.jp-video-play {
		height: 100%;
	}
}
.jp-gui {
	background: #00000030;
	bottom: 0px;
	display: block;
	left: 0;
	padding-top: 5px;
	position: absolute;
	right: 0;
	.border-radius(0 0 10px 0);
}
.player-content {
	&:hover {
		.jp-gui {
			display: block;
		}
	}
}
.jp-interface {
	position: relative;
	width: 100%;
	padding: 0 5px;
	.jp-controls {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
}
.jp-controls-holder {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px;
	position: relative;
	width: 100%;
}
.jp-controls {
	button {
		display: block;
		float: left;
		overflow: hidden;
		text-indent: -9999px;
		border: none;
		cursor: pointer;
	}
	.current-time {
		float: left;
		width: 100px;
		padding-left: 10px;
		span.divider {
			color: @player-time-divider;
			float: left;
			font-size: 8pt;
			padding-right: 4px;
		}
	}
}
.jp-play {
	width: 15px;
	height: 18px;
	margin-right: 15px;
	background: url("../images/jplayer.bitel.deportes.png") 0 0 no-repeat;
	&:focus {
		background: url("../images/jplayer.bitel.deportes.png") 0 0 no-repeat;
	}
}
.jp-state-playing {
	.jp-play {
		background: url("../images/jplayer.bitel.deportes.png") 0 -110px no-repeat;
		&:focus {
			background: url("../images/jplayer.bitel.deportes.png") 0 -110px no-repeat;
		}
	}
}
.jp-stop {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	margin-top: 1px;
	background: url("../images/jplayer.bitel.deportes.png") 0 -74px no-repeat;
	margin-left: 10px;
	&:focus {
		background: url("../images/jplayer.bitel.deportes.png") 0 -74px no-repeat;
		margin-left: 10px;
	}
}
.jp-next {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	margin-top: 1px;
	background: url("../images/jplayer.bitel.deportes.png") 0 -37px no-repeat;
	&:focus {
		background: url("../images/jplayer.bitel.deportes.png") 0 -37px no-repeat;
	}
}
.jp-previous {
	width: 28px;
	height: 28px;
	margin-top: 6px;
	//background: url("../images/jplayer.blue.monday.jpg") 0 -112px no-repeat;
	display: none !important;
	&:focus {
	//	background: url("../images/jplayer.blue.monday.jpg") 0 -112px no-repeat;
	}
}
.jp-progress {
	width: 100%;
	height: 2px;
	overflow: hidden;
	background-color: @background-color;
}
.jp-seek-bar {
	background: black;
	cursor: pointer;
	height: 100%;
	width: 0px;
}
.jp-play-bar {
	background: #008995;
	height: 100%;
	width: 0px;
}
.jp-seeking-bg {
	background: url("../images/loading.gif");
}
.jp-state-no-volume {
	.jp-volume-controls {
		display: none;
	}
}
.jp-volume-controls {
	float: left;
	position: relative;
	width: 200px;
	margin-left: 10px;
	margin-top: 2px;
	button {
		display: block;
		position: absolute;
		overflow: hidden;
		text-indent: -9999px;
		border: none;
		cursor: pointer;
	}
}
.jp-mute {
	width: 20px;
	height: 19px;
	background: url("../images/jplayer.bitel.deportes.png") 0 -147px no-repeat;
	&:focus {
		background: url("../images/jplayer.bitel.deportes.png") 0 -147px no-repeat;
	}
}
.jp-volume-max {
	width: 20px;
	height: 19px;
	left: 74px;
	//background: url("../image/jplayer.blue.monday.jpg") 0 -186px no-repeat;
	&:focus {
	//	background: url("../images/jplayer.blue.monday.jpg") -19px -186px no-repeat;
	}
}
.jp-state-muted {
	.jp-mute {
		background: url("../images/jplayer.bitel.deportes.png") 0 -184px no-repeat;
		&:focus {
			background: url("../images/jplayer.bitel.deportes.png") 0 -184px no-repeat;
		}
	}
}
.jp-volume-bar {
	background: rgba(0, 0, 0, 0.38);
	cursor: pointer;
	height: 18px;
	margin-left: 20px;
	overflow: hidden;
	position: absolute;
	width: 60px;
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.jp-volume-bar-value {
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
	background: #008995;
	height: 18px;
	width: 60px;
}
.jp-playlist {
	background-color: @background-color;
	.border-radius(10px 0 0 10px);
	border: 0;
	height: 100%;
	width: 100%;
	ul {
		list-style: none;
		height: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		li {
			&:first-child {
				.border-radius(10px 0 0 0);
				a {
					.border-radius(10px 0 0 0);
					&:hover {
						.border-radius(10px 0 0 0);
					}
				}
				a.jp-playlist-current {
					.border-radius(10px 0 0 0);
					&:hover {
						.border-radius(10px 0 0 0);
					}
				}
			}
			&:last-child {
				.border-radius(0 0 0 10px);
				a {
					.border-radius(0 0 0 10px);
					&:hover {
						.border-radius(0 0 0 10px);
					}
				}
				a.jp-playlist-current {
					.border-radius(0 0 0 10px);
					&:hover {
						.border-radius(0 0 0 10px);
					}
				}
			}
		}
	}
	li {
		color: @list-color;
		flex: 1;
		margin: 0;
		border-bottom: 1px solid @list-border-active;
		&:last-child {
			border-bottom: none;
			.border-radius(0 0 0 10px);
		}
		div {
			display: inline;
		}
	}
	li.jp-playlist-current {
		background: @background_list-active;
		color: @list-color-active;
		a.jp-playlist-current {
			background: @background_list-active;
			color: @list-color-active;
			&:hover {
				background: @background_list-active-hover;
				color: @list-color-active-hover;
			}
		}
	}
}
.jp-type-single {
	position: relative;
	.jp-details {
		border-top: none;
	}
}
.jp-type-playlist {
	.jp-details {
		border-top: none;
	}
}
.jp-type-playlist {
	.jp-playlist {
		a {
			color: @list-color;
			display: block;
			height: 100%;
			font-size: 10pt;
			padding: 8px;
			text-decoration: none;
			width: 100%;
			&:hover {
				background: @background-color-hover;
				color: @list-color-hover;
				display: block;
				height: 100%;
				font-size: 10pt;
				text-decoration: none;
				width: 100%;
			}
		}
		span.jp-free-media {
			display: none;
		}
	}
}
.jp-video-play {
	background-color: @video-play-stop-background;
	.border-radius(0 10px 10px 0);
	cursor: pointer;
	display: table;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	.play-icon {
		display: table-cell;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		button {
			width: 15px;
			height: 18px;
			margin-right: 15px;
			background: url(../images/jplayer.bitel.deportes.png) 0 0 no-repeat;
		}
	}
}
.jp-jplayer {
	.border-radius(0 10px 10px 0);
	height: 347px !important;
	position: relative;
	width: 100% !important;
	audio {
		width: 100% !important;
		height: 347px !important;
	}
	video {
		background: black;
		.border-radius(0 10px 10px 0);
		height: 347px !important;
		width: 100% !important;
	}
	[id^="jp_poster_"] {
		width: 100% !important;
		height: 100% !important;
		position: absolute;
		.border-radius(0 10px 10px 0);
	}
}
.jp-toggles {
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	button {
		display: block;
		float: right;
		width: 18px;
		height: 18px;
		text-indent: -9999px;
		line-height: 100%;
		border: none;
		cursor: pointer;
	}
}
.jp-full-screen {
	background: url("../images/jplayer.bitel.deportes.png") 0 -221px no-repeat;
	margin-left: 20px;
	&:focus {
		background: url("../images/jplayer.bitel.deportes.png") 0 -221px no-repeat;
		margin-left: 20px;
	}
}
.jp-state-full-screen {
	.jp-full-screen {
		background: url("../images/jplayer.bitel.deportes.png") 0 -252px no-repeat;
		&:focus {
			background: url("../images/jplayer.bitel.deportes.png") 0 -252px no-repeat;
		}
	}
	.jp-type-playlist {
		height: 100%;
		max-height: 100%;
		min-height: 100%;
	}
	.playlist-content {
		display: none;
	}
	.player-content {
		width: 100%;
		max-width: 100%;
		flex: auto;
		.jp-jplayer {
			width: 100% !important;
			height: 100% !important;
			video {
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
	.jp-gui {
		display: block;
	}
}
// .jp-repeat {
// 	background: url("../images/jplayer.blue.monday.jpg") 0 -290px no-repeat;
// 	&:focus {
// 		background: url("../images/jplayer.blue.monday.jpg") -30px -290px no-repeat;
// 	}
// }
// .jp-state-looped {
// 	.jp-repeat {
// 		background: url("../images/jplayer.blue.monday.jpg") -60px -290px no-repeat;
// 		&:focus {
// 			background: url("../images/jplayer.blue.monday.jpg") -90px -290px no-repeat;
// 		}
// 	}
// }
// .jp-shuffle {
// 	background: url("../images/jplayer.blue.monday.jpg") 0 -270px no-repeat;
// 	margin-left: 5px;
// 	&:focus {
// 		background: url("../images/jplayer.blue.monday.jpg") -30px -270px no-repeat;
// 	}
// }
// .jp-state-shuffled {
// 	.jp-shuffle {
// 		background: url("../images/jplayer.blue.monday.jpg") -60px -270px no-repeat;
// 		&:focus {
// 			background: url("../images/jplayer.blue.monday.jpg") -90px -270px no-repeat;
// 		}
// 	}
// }
.jp-no-solution {
	padding: 5px;
	font-size: .8em;
	display: none;
	span {
		font-size: 1em;
		display: block;
		text-align: center;
		font-weight: bold;
	}
}

section.videos-container {
	position: relative;
	.video-list {
		width: 100%;
		height: 100%;
		li.swiper-slide {
			width: 90%;
			height: 380px;
			// margin-left: -15px;
			.jp-jplayer {
				[id^="jp_poster_"] {
					width: 100% !important;
					height: 100% !important;
					position: absolute;
					.border-radius(10px);
				}
				video {
					.border-radius(10px);
				}
			}
		}
	}
}